<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}
    <section id="banner" class="major about-banner">
        <div class="inner">
            <div class="row">
                <div class="2u">
                    <img class="circle" src="{{ '/assets/images/circle.jpg ' | absolute_url }}" alt="David photo">
                </div>
                <header class="5u about-head">
                    <h1>DAVID <span>CAMARGO</span></h1>
                    <p>HUMAN ORIENTED <i>ENGINEER</i></p>
                </header>
                <div class="5u">
                    <div class="row info-icons">
                        <div class="6u">
                            <p><i class="fa fa-hourglass-3"> </i> 26 Years</p>
                            <p><i class="fa fa-envelope-o"> </i> davidcp90@gmail.com</p>
                            <p><i class="fa fa-mobile"> </i> +57 1 3157454600</p>
                            <p>
                                <a href="https://davidcamargo.com"> <i class="fa fa-rss"> </i> davidcamargo.com/blog</a>
                            </p>
                        </div>
                        <div class="6u">
                            <p><i class="fa fa-heartbeat"> </i> Married to Adri</p>
                            <p>
                                <a href="http://github.com/davidcp90"> <i class="fa fa-github-alt"> </i> davidcp90</a>
                            </p>
                            <p>
                                <a  href="http://bit.ly/1MaLZFi"> <i class="fa fa-linkedin-square"> </i> http://bit.ly/1MaLZFi</a>
                            </p>
                            <p><i class="fa fa-street-view"> </i> Bogota, Colombia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="main" class="alt">
        <div class="content-readable inner">{{ content }}</div>
    </div>
    {% include footer.html %}
</body>

</html>
