<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}
        <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Know more</a></li>
                </ul>
            </div>
        </div>
    </section>
    <div id="main" class="alt">
    <div class="content-readable inner">{{ content }}</div>
    </div>
    {% include footer.html %}

</body>

</html>